<a href="/" >
<header class="section_header">
  <h1 class="tui-text_h1 header_name">Alyssa Gillen</h1>
  <h1 class="tui-text_h1 header_title">Portfolio</h1>
</header>
</a>
<div class="section_body">
  <div class="border title">
    <h2 class="tui-text_h2 text_case_title">
      Case Study - Citi Online Registration
    </h2>
    <h2 class="tui-text_h2 text_case_title_resp">
      Case Study <br>Citi Online Registration
    </h2>
    <img
      class="image_registration"
      src="../../assets/images/registration_prototype.png"
    />
    <img class="image_registration_resp_1"
    src="../../assets/images/registration_responsive_1.png"/>
    <img
    class=image_registration_resp_2
    src="../../assets/images/registration_responsive_2.png"/>
  </div>
  <div class="border intro">
    <div class="tui-text_body-xl paragraph">
      I work on a team that is responsible for servicing the Online Registration
      flow of the website www.citi.com.
      <br /><br />
      We serve Citi customers in registering their new Citi products with an
      online account. Once customers are registered, they are able to utilize
      Citi's banking services at www.citi.com or on the Citi mobile applications
      on iOS and Android.
      <br /><br />

      Online Registration is often one of the first digital interactions that
      Citi customers have with their bank. The Online Registration flow that we
      maintain has a significant impact on the overall customer experience
      because we often set the initial impression.
    </div>
    <div class="list_information">
      <div class="tui-text_h6">Role</div>
      <div class="tui-text_body-l">
        Assistant Vice President<br>UX Engineer II
      </div>
      <div class="tui-text_h6 tui-space_top-5">Location</div>
      <div class="tui-text_body-l">Irving, TX</div>
    
      
    </div>
  </div>
  <div class="border"><div class="tile_padding">
<div class="tui-text_h3">Challenge</div>
<div class="tui-text_body-l">The biggest challenge I've faced individually has been resolving ADA defects in production on a time crunch. <br>
Upon joining the team, I inherited the existing codebase for the online registration flow. The existing codebase leveraged many deprecated components that were not ADA compliant.
I was assigned each defect to be fixed and pushed within the associated timeline.
</div>

<div class="tui-text_h3 tui-space_top-5">Approach</div>
<div class="tui-text_body-l">
I decided that time was of the essence because our flow was actively being used by customers and it was defective.
I also decided that investigation was also very important because I wanted to understand and correct the issues in our workflow that enabled the endurance of significant defects in our flow.


<div class="tui-text_h3 tui-space_top-5">Solution</div>
The first priority was to resolve the defects. I handled this by personally resolving and testing them. I have been trained to complete ADA testing, which made it very efficient to understand the errors and validate my solutions.
<br>
The second priority was to understand the source of the defects. With the support of my team members, we held a meeting with the team responsible for the associated component library. 
We were able to communicate our expectation to be properly notified of future deprecations in the library. We also established new standards within our team for testing existing features in production.

<div class="tui-text_h3 tui-space_top-5">Takeaway</div>
This challenge has been an incredible opportunity to take the lead in solving a significant problem on a timeline.
I grew even more confident in my technical skills by resolving the defects personally.
I greatly reduced the chances of repeated defects due to deprecated components when I addressed an aspect of our workflow that was dysfunctional.
I built stronger relationships with my coworkers when I sought out their support to facilitate communication with another team.
I gained a deeper appreciation for an accessible user experience that is delightful for all users, regardless of ability.

<br><br>
Every challenge is unique. <br>Focusing on the present challenge allows me to act dynamically and find a custom path forward.

</div>
  </div>

</div>

<p class="tui-text_body-m">☆ made by alyssa gillen ☆</p>
