@import '@taiga-ui/core/styles/taiga-ui-local.less';
@import '@taiga-ui/core/styles/taiga-ui-theme.less';
@import '@taiga-ui/core/styles/taiga-ui-fonts.less';
@import '@taiga-ui/styles/taiga-ui-global.less';

.section_header{
    //padding: 0rem 10rem 0rem 10rem;
    display: flex;
    justify-content: center
}

.section_body{
    background-color: #F6E7D8;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100rem;

}


.tui-text_h1{
    margin: 1rem;
}
.tui-text_h3{
    margin: 0rem;
}
.tui-text_h4{
    margin: 0rem;
}
.text_title{
    padding: 1rem 0rem 1rem 0rem;
}


.section_case_1{
    border-radius: 2rem;
    background: #fff;
    width: 90%;
}
.section_case_2{
    margin:2rem 0rem 2rem 0rem;
    border-radius: 2rem;
    background: #fff;
    width: 90%;
}
.header_case_1{
    padding: 2rem 0rem 2rem 2rem;
}
.image_harvestly{
    width: 50rem;
    height: 29rem;
    padding: 3rem 0rem 3rem 2rem;
}
.image_bulletin{
    width: 45rem;
    height: 27rem;
    padding: 3rem 0rem 3rem 2rem;

}