@import '@taiga-ui/core/styles/taiga-ui-local.less';
@import '@taiga-ui/core/styles/taiga-ui-theme.less';
@import '@taiga-ui/core/styles/taiga-ui-fonts.less';
@import '@taiga-ui/styles/taiga-ui-global.less';

.section_header{
    padding-left: 1rem;
}

.section_body{
    background-color: #F6E7D8;

}
.section_introduction{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.section_role{
    display: flex;
    flex-direction: column;
    width: 16.5rem;
    padding: 3rem 2rem 3rem 0rem;
}

.tui-text_h2{
    margin: 0rem;
}
.text_role{
    color: #07A5C3;
}
.text_sub_role{
    color: #303030;
    text-align: right;
}
.image_self{
    width: 20rem;
    height: 20rem;
    padding: 3rem 0rem 3rem 2rem;
}
.text_portfolio_header{
    padding-left:5rem;
}