<header class="section_header">
  <h1 class="tui-text_h1 text_role">Alyssa Gillen - UX Engineer</h1>

</header>

<body class="section_body">
  <h1 class="tui-text_h1 text_title">Portfolio</h1>
  <div class="section_case_1">
    <div class="header_case_1">
    <h3 class="tui-text_h3">Harvestly - Fall 2023 Semester Project</h3>
    <h4 class="tui-text_h4">MIS 6396 User Experience Design</h4>
    <img class="image_harvestly" src="../assets/images/harvestly_prototype.png">
  </div>


  </div>

  <div class="section_case_2">
    <div class="header_case_1">
    <h3 class="tui-text_h3">Bulletin - Fall 2023 Design Challenge</h3>
    <h4 class="tui-text_h4">UT Dallas User Experience Club</h4>
    <img class="image_bulletin" src="../assets/images/bulletin_prototype.png">
  </div>


  </div>
  
  
</body>