<a href="/">
  <header class="section_header">
    <h1 class="tui-text_h1 header_name">Alyssa Gillen</h1>
    <h1 class="tui-text_h3 header_name_resp">Alyssa Gillen</h1>
    <h1 class="tui-text_h1 header_title">Portfolio</h1>
    <h1 class="tui-text_h3 header_title_resp">Portfolio</h1>
  </header>
</a>
<div class="section_body">
  <div class="border title">
    <h2 class="tui-text_h2 text_case_title">Case Study - Harvestly</h2>
    <h2 class="tui-text_h3 text_case_title_resp">Case Study</h2>
    <h3 class="tui-text_h4 text_case_subtitle_resp">Harvestly</h3>
    <img
      class="image_registration"
      src="../../assets/images/harvestly_prototype.png"
    />
    <img
      class="image_registration_resp_1"
      src="../../assets/images/harvestly_responsive_1.png"
    />
    <img
      class="image_registration_resp_2"
      src="../../assets/images/harvestly_responsive_2.png"
    />
  </div>
  <div class="border intro">
    <div class="tui-text_body-xl paragraph">
      I took MIS 6396 User Experience Design at UT Dallas in Fall 2023 because I
      am currently pursuing an MS in Applied Cognition and Neuroscience with a
      specialization in Human-Computer Interactions. The course's focus was on
      applying user experience priciples to industry product design. Throughout
      the duration of the semester we worked in teams to create a prototype and
      presentation for a product that we invented.
      <br />
      My team decided to create Harvestly, a mobile application that serves as a
      marketplace for locally sourced groceries.
    </div>
    <div class="list_information">
      <div class="tui-text_h6">Role</div>
      <div class="tui-text_body-l">UX Designer</div>
      <div class="tui-text_h6 tui-space_top-5">Location</div>
      <div class="tui-text_body-l">Richardson, TX</div>
    </div>
  </div>
  <div class="border">
    <div class="tile_padding">
      <div class="tui-text_h3 tui-space_bottom-2">Challenge</div>
      <div class="tui-text_body-l">
        The assignment was to conceptualize a new product, conduct relevant
        research, design a prototype, and present the concept to the class.
      </div>

      <div class="tui-text_h3 tui-space_top-5 tui-space_bottom-2">Approach</div>
      <div class="tui-text_h4 tui-space_top-3 tui-space_bottom-2 subheading">
        Ideate
      </div>
      <div class="tui-text_body-l">
        As a group of seven, we each proposed our own idea for a mobile
        application and provided a proposed customer journey map. I proposed an
        assistant application for building and maintaining regular habits.
      </div>
      <img
        class="image_ideate"
        src="../../assets/images/harvestly_ideate.png"
      />
      <div class="tui-text_body-l">
        We conducted a group vote and decided to move forward with a marketplace
        application for locally sourced goods.
      </div>
      <div class="tui-text_h4 tui-space_top-3 tui-space_bottom-2 subheading">
        Empathize
      </div>
      <div class="tui-text_body-l">
        We brainstormed a few key markets that our app would target. 
        I created a user persona for the dietician market. 
      </div>
      <img
        class="image_persona_1"
        src="../../assets/images/user_persona_1.png"
      />
      <img
        class="image_persona_2"
        src="../../assets/images/user_persona_2.png"
      />
      <div class="tui-text_h4 tui-space_top-3 tui-space_bottom-2 subheading">
        Protoype
      </div>
      <div class="tui-text_h4 tui-space_top-3 tui-space_bottom-2 subheading">
        Test
      </div>

      <div class="tui-text_h3 tui-space_top-5 tui-space_bottom-2">Solution</div>

      <div class="tui-text_h3 tui-space_top-5 tui-space_bottom-2">Takeaway</div>
    </div>
  </div>
</div>

<p class="tui-text_body-m">☆ made by alyssa gillen ☆</p>
