@import "@taiga-ui/core/styles/taiga-ui-local.less";
@import "@taiga-ui/core/styles/taiga-ui-theme.less";
@import "@taiga-ui/core/styles/taiga-ui-fonts.less";
@import "@taiga-ui/styles/taiga-ui-global.less";

body {
  margin: 0; /* Remove body margins */
}
.section_header {
  padding: 0rem 4rem 0rem 4rem;
  display: flex;
  justify-content: space-between;
  background-color: #303030;
}
.header_title {
  font-weight: normal;
  color: #f6e7d8;
}
.header_title_resp {
  display: none;
}
.header_name {
  color: #f6e7d8;
}
.header_name_resp {
  display: none;
}

.section_body {
  background-color: #f6e7d8;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  margin: 0rem;
}
.section_introduction {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem 0rem 3rem 0rem;
}
.section_role {
  display: flex;
  flex-direction: column;
  padding: 5rem 0rem 0rem 0rem;
}

.tui-text_h2 {
  margin: 0rem;
}

.tui-text_h4 {
  margin: 0rem;
  font-weight: normal;
}
.text_role {
  color: #303030;
  margin: 0rem 0rem 0.75rem 0rem;
}
.text_sub_role {
  color: #303030;
  text-align: right;
  font-weight: normal;
  margin: 0rem 0rem 4rem 0rem;
}
.image_self {
  width: 30rem;
  height: 30rem;
  margin: 3rem 0rem 3rem 1rem;
  border-style: solid;
  border-radius: 2rem;
}
.button_intro {
  width: 20rem;
}
[tuiWrapper][data-appearance="custom"] {
  background: #303030;
  color: #f6e7d8;
  height: 4.5rem;
  font-size: x-large;

  .wrapper-hover({
        background:  #365870
    });

  .wrapper-active({
        background:  #365870
    });
}

a.tui-space_right-3 {
  margin-right: 0rem;
}
a.tui-space_bottom-3 {
  margin-bottom: 2rem;
}

.section_intro_left {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30rem;
  border-style: solid;
  border-radius: 2rem;
  margin: 3rem 1rem 3rem 0rem;
}

.text_portfolio_header {
  padding-left: 5rem;
}
.section_case {
  border-radius: 2rem;
  background: #f6e7d8;
  width: 62.375rem;
  border-style: solid;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header_case {
  padding: 2.5rem 0rem 0.75rem 0rem;
  display: flex;
  flex-direction: row;
}

.text_case_title {
  margin: 0rem 0rem 0.65rem 0rem;
  text-align: left;
}
.text_case {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-right: 7rem;
}
.image_harvestly {
  width: 50rem;
  height: 25.114rem;
  padding: 0rem 0rem 3rem 0rem;
}
.image_harvestly_resp_1 {
  display: none;
}
.image_harvestly_resp_2 {
    display: none;
  }
.image_registration {
  width: 50rem;
  height: 29.1622rem;
  padding: 0rem 0rem 1.5rem 0rem;
}
.image_registration_resp_1 {
  display: none;
}
.image_registration_resp_2 {
  display: none;
}
.image_bulletin {
  width: 50rem;
  height: 30.8592rem;
  padding: 0rem 0rem 3rem 0rem;
}
.image_bulletin_resp_1 {
  display: none;
}
.image_bulletin_resp_2 {
    display: none;
  }
@media (max-width: 1024px) {
  .section_intro_left {
    border-style: none;
    width: auto;
    padding-right: 4rem;
  }
  .section_case {
    width: 100%;
    border-style: solid none solid none;
    border-radius: 0rem;
  }

}
@media (max-width: 935px) {
  .section_introduction {
    flex-direction: column-reverse;
    align-items: center;
  }
  .text_sub_role {
    margin-bottom: 3rem;
  }
  .image_self {
    padding-left: 0rem;
    margin-left: 0rem;
  }
  .section_intro_left {
    margin: 0rem;
    padding: 0rem;
  }
  .section_role {
    padding: 0rem;
  }
  .image_registration {
    display: none;
  }
  .image_registration_resp_1 {
    display: flex;
    width: 30rem;
    height: 24.54rem;
  }
  .header_case {
    flex-direction: column;
    align-items: center;
  }
  .text_case {
    align-items: center;
    padding-right: 0rem;
    padding-bottom: 3rem;
  }
  .image_harvestly {
    display: none;
  }
    .image_harvestly_resp_1{
    display: flex;
    height: 28.815;
    width: 30rem;
    padding-bottom: 2rem;

  }
  .image_bulletin {
    display: none;
  }

    .image_bulletin_resp_1{
    display: flex;
        width:30rem;
        height: 27.907em;
    padding-bottom: 2rem;
  }
  .text_case {
    padding-bottom: 2rem;
  }
  .button_case{
    justify-content: center;
  }
}
@media (max-width: 700px) {
  .section_header {
    flex-direction: column;
  }
  .header_name {
    margin-bottom: 0rem;
  }
  .header_title {
    margin-top: 1rem;
  }
}
@media (max-width: 500px) {
  .section_header {
    padding: 0rem 1rem 0rem 1rem;
  }
  .image_self {
    height: 25rem;
    width: 25rem;
  }
  .image_registration_resp_1 {
    display: none;
  }
  .image_registration_resp_2 {
    display: flex;
    height: 40rem;
    width: 20rem;
    padding-bottom: 2rem;
  }
  .image_harvestly_resp_1{
    display:none
  }
  .image_bulletin_resp_1{
    display:none
  }
    .image_harvestly_resp_2{
        height: 28.855rem;
        width: 15rem;
        display: flex;
  }
    .image_bulletin_resp_2{
        height: 28.855rem;
        width: 15rem;
        display: flex;

  }
  .subtext {
    font-size: 20px;
  }
  
}
@media (max-width: 443px) {
  .header_name {
    display: none;
  }
  .header_name_resp {
    display: flex;
    color: #f6e7d8;
    margin-bottom: 0rem;
  }
  .header_title {
    display: none;
  }
  .header_title_resp {
    font-weight: normal;
    color: #f6e7d8;
    display: flex;
    margin-top: 0.5rem;
  }
  .text_case_title{
    text-align: center;
  }
.button_intro{
    display: flex !important;
    justify-content: center;
}
  .image_self {
    height: 15rem;
    width: 15rem;
    margin-left: 0rem;
  }
  [tuiWrapper][data-appearance="custom"] {
    background: #303030;
    color: #f6e7d8;
    height: 4.5rem;
    width: 18rem;
    font-size: x-large;

    .wrapper-hover({
            background:  #365870
        });

    .wrapper-active({
            background:  #365870
        });
  }
  .image_registration_resp_2 {
    height: 30rem;
    width: 15rem;
  }



}
