<header class="section_header">
    <h1 class="tui-text_h1 header_name">Alyssa Gillen</h1>
    <h1 class="tui-text_h1 header_title">Portfolio</h1>
  </header>
  
  <div class="section_body">
    <div class="section_introduction">
      <div class="section_intro_left">
        <div class="section_role">
          <h2 class="tui-text_h1 text_role">UX Engineer</h2>
          <h2 class="tui-text_h2 text_sub_role">Visionary<br />Artist</h2>
        </div>
        <a
          href="../../assets/resume.pdf"
          download="alyssa_gillen_resume_2024"
          tuiButton
          type="button"
          class="tui-space_right-3 tui-space_bottom-3  button_intro"
          appearance="custom"
        >
        Résumé
        </a>
        <a
          href="mailto:contactalyssagillen@gmail.com"
          tuiButton
          type="button"
          class="tui-space_right-3 tui-space_bottom-3 button_intro"
          appearance="custom"
        >
          Contact
        </a>
      </div>
      <img class="image_self" src="../../assets/images/self.png" />
    </div>
    <div class="section_case_1">
      <div class="header_case">
        <div class="text_case">
        <h3 class="tui-text_h3">Citi Online Registration</h3>
        <h4 class="tui-text_h4">UX Engineer 2021 - Current</h4>
      </div>
        <a
          href="/case-study-one"
          tuiButton
          type="button"
          class="tui-space_right-3 tui-space_bottom-3 button_case"
          appearance="custom"
        >
          Case Study
        </a>
      </div>
      <img
        class="image_registration"
        src="../../assets/images/registration_prototype.png"
      />
    </div>
  
    <div class="section_case_2">
      <div class="header_case">
        <h3 class="tui-text_h3">Harvestly</h3>
        <h4 class="tui-text_h4">Fall 2023 Semester Project</h4>
        <h4 class="tui-text_h4">MIS 6396 User Experience Design</h4>
      </div>
      <img
        class="image_harvestly"
        src="../../assets/images/harvestly_prototype.png"
      />
    </div>
  
    <div class="section_case_3">
      <div class="header_case">
        <h3 class="tui-text_h3">Bulletin</h3>
        <h4 class="tui-text_h4">Fall 2023 Design Challenge</h4>
        <h4 class="tui-text_h4">UT Dallas User Experience Club</h4>
      </div>
      <img class="image_bulletin" src="../../assets/images/bulletin_prototype.png" />
    </div>
  </div>
  