<header class="section_header">
  <h1 class="tui-text_h1 header_name">Alyssa Gillen</h1>
  <h1 class="tui-text_h3 header_name_resp">Alyssa Gillen</h1>
  <h1 class="tui-text_h1 header_title">Portfolio</h1>
  <h1 class="tui-text_h3 header_title_resp">Portfolio</h1>
</header>

<div class="section_body">
  <div class="section_introduction">
    <div class="section_intro_left">
      <div class="section_role">
        <h2 class="tui-text_h3 text_role">UX Engineer</h2>
        <h2 class="tui-text_h4 text_sub_role">Visionary | Artist</h2>
      </div>
      <a
        href="../../assets/resume.pdf"
        download="alyssa_gillen_resume_2024"
        tuiButton
        type="button"
        class="tui-space_right-3 tui-space_bottom-3 button_intro"
        appearance="custom"
      >
        Résumé
      </a>
      <a
        href="mailto:contactalyssagillen@gmail.com"
        tuiButton
        type="button"
        class="tui-space_right-3 tui-space_bottom-3 button_intro"
        appearance="custom"
      >
        Contact
      </a>
    </div>
    <img class="image_self" src="../../assets/images/self.png" />
  </div>
  <div class="section_case">
    <div class="header_case">
      <div class="text_case">
        <h3 class="tui-text_h3 text_case_title">Citi Online Registration</h3>
        <h4 class="tui-text_h4 subtext">UX Engineer 2021 - Current</h4>
      </div>
      <a
        href="/case-study-one"
        tuiButton
        type="button"
        class="tui-space_right-3 tui-space_bottom-3 button_case"
        appearance="custom"
      >
        Case Study
      </a>
    </div>
    <img
      class="image_registration"
      src="../../assets/images/registration_prototype.png"
    />
    <img
      class="image_registration_resp_1"
      src="../../assets/images/registration_responsive_1.png"
    />
    <img
      class="image_registration_resp_2"
      src="../../assets/images/registration_responsive_2.png"
    />
  </div>

  <div class="section_case">
    <div class="header_case">
      <div class="text_case">
        <h3 class="tui-text_h3 text_case_title">Harvestly</h3>
        <h4 class="tui-text_h4 subtext">Fall 2023 Semester Project</h4>
        <h4 class="tui-text_h4 subtext">MIS 6396 User Experience Design</h4>
      </div>
      <a
        href="/case-study-two"
        tuiButton
        type="button"
        class="tui-space_right-3 tui-space_bottom-3 button_case"
        appearance="custom"
      >
        Case Study
      </a>
    </div>
    <img
      class="image_harvestly"
      src="../../assets/images/harvestly_prototype.png"
    />
    <img
      class="image_harvestly_resp_1"
      src="../../assets/images/harvestly_responsive_1.png"
    />
    <img
      class="image_harvestly_resp_2"
      src="../../assets/images/harvestly_responsive_2.png"
    />
  </div>

  <div class="section_case">
    <div class="header_case">
      <div class="text_case">
        <h3 class="tui-text_h3 text_case_title">Bulletin</h3>
        <h4 class="tui-text_h4 subtext">Fall 2023 Design Challenge</h4>
        <h4 class="tui-text_h4 subtext">UT Dallas User Experience Club</h4>
      </div>
      <a
        href="/case-study-three"
        tuiButton
        type="button"
        class="tui-space_right-3 tui-space_bottom-3 button_case"
        appearance="custom"
      >
        Case Study
      </a>
    </div>
    <img
      class="image_bulletin"
      src="../../assets/images/bulletin_prototype.png"
    />
    <img
      class="image_bulletin_resp_1"
      src="../../assets/images/bulletin_responsive_1.png"
    />
    <img
      class="image_bulletin_resp_2"
      src="../../assets/images/bulletin_responsive_2.png"
    />
  </div>
  <p class="tui-text_body-m">☆ made by alyssa gillen ☆</p>
</div>
